@font-face {
    -fx-font-family: "Press Start 2P";
    src: url('../fonts/inter/static/PressStart2P.ttf');
}

* {
    -fx-font-family: "Press Start 2P";
}

.title {
    -fx-font-size: 16px;
}

.white {
    -fx-text-fill: white;
}

.bg-blue {
    -fx-background-color: blue;
}
