@font-face {
    -fx-font-family: "Press Start 2P";
    src: url('../fonts/inter/static/PressStart2P.ttf');
}

* {
    -fx-font-family: "Press Start 2P";
}

.title {
    /*  -fx-background-color: #FFB4B4;
      -fx-background-radius: 10px;
      -fx-font-size: 30px;
      -fx-font-weight: bold;
      -fx-text-fill: #995C5C;
      -fx-padding: 10px;*/
}
